{% extends "pd_maps/base.html" %}
{% load static %}
{% block content %}
      <br/><br/><br/>
      <h3 id="city-heading" style="margin-left:30px;"></h3>
      <br/><br/>
      <table>
        <tr>
          <td></td>
          <td><div id="chart_1" style="width:500px; height: 400px; margin-left:0%"></div></td>
          <td><div id="chart_2" style="width:500px; height: 400px;"></div></td>
        </tr>
      </table>
{% endblock %}

{% block additionaljs %}
  <script src="https://code.highcharts.com/highcharts.js" ></script>
  <script src="https://code.highcharts.com/highcharts-3d.js" ></script>
  <script src="{% static 'charts.js' %}"></script>
{% endblock %}
