{% extends "pd_maps/base.html" %}
{% load static %}
{% block content %}
      <br/><br/><br/>
      <h3 id="agency_heading" class="pull-left"></h3>
      <button id="toggle_scenarios" type="button" class="btn btn-primary">Show worst case scenario</button>
      <br/><br/>  <br/><br/>
      <table>
        <tr>
          <td></td>
          <td><div id="chart_1" style="width:500px; height: 400px; margin-left:0%"></div></td>
          <td><div id="chart_2" style="width:500px; height: 400px;"></div></td>
        </tr>
      </table>
      <br/><br/><br/><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h4 style="margin-left:30px;"><b><a href="{% url 'get_maps' %}">Return to map</a></b></h4>
{% endblock %}

{% block additionaljs %}
  <script src="https://code.highcharts.com/highcharts.js" ></script>
  <script src="https://code.highcharts.com/highcharts-3d.js" ></script>
  <script src="{% static 'charts.js' %}"></script>
  {# using inline js so we can use django template tags #}
  <script>$(document).ready(function() {
      var chart_data_json = JSON.parse('{{ chart_data|escapejs }}');
      render_charts(chart_data_json);
  });
  </script>
{% endblock %}
