{% extends "pd_maps/base.html" %}
{% load static %}
{% comment %}<link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />{% endcomment %}
{% block additionalcss %}
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
{% endblock %}

{% block content %}
      <br/><br/>
      <form method="get" action="." >
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input id= "city-selector" class="form-control input-lg" name="q" type="text" data-provide="typeahead" placeholder="Enter an agency name or choose on the map" autocomplete="off" style="width:470px; margin-left:235px;">
                </div>
              </div>
            </div>
       </form>
       <br/><br/>
      <div id="map" class="text-center"></div>
{% endblock %}

{% block additionaljs %}
    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="{% static 'custom.js' %}"></script>
{% endblock %}
