html, body {
  height: 95%;
  width: 90%;
  padding: 0;
  margin: 0;
}

#map {
  height: 60%;
  width: 40%;
  padding: 0px;
  margin: 0% 20% 0% 20%;
}

.typeahead {
  margin-left: 235px !important;
}

.dropdown-menu {
  font-size: 17px !important;
}
